<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    .navbar {
      background-color: #003366;
      color: #fff;
      padding: 10px;
    }
    
    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .navbar li {
      margin-right: 10px;
    }
    
    .navbar li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
    
    .navbar li a:hover {
      background-color: #002147;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/movies">Listado de Películas</a></li>
      <% if (locals.userLogged) { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </nav>
</body>
</html>


