<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/login.css' />
    <title><%= title %>></title>
</head>
<body>
    <h1>Iniciar sesion</h1>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="checkbox" name="rememberme" id="rememberme"> RECORDARME
        <button>Entrar</button>
    </form>
</body>
</html>
